* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Now Display';
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #111;
}
main {
  height: 100%;
  width: 100%;
  /* bottom right for diagonal */
  background: linear-gradient(
    to right bottom,
    rgb(25, 25, 25),
    rgb(35, 35, 35),
    black
  );
  padding: 18px;
  /* overflow: auto; */
}
section {
  height: 100%;
  width: 340px;
  background-color: black;
  border-radius: 10px;
  margin: auto;
}
.all-reels {
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar {
  display: none;
}
.reel {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: seagreen; */
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.reel video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.reel .bottom {
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.023), rgba(0, 0, 0, 0.105));
  width: 100%;
  position: absolute;
  bottom: 0;
}
.bottom .user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 18px;
}
.bottom .user img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.bottom .user h4 {
  font-size: 16px;
  font-weight: 500;
}
.bottom .user button {
  background-color: transparent;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}
.bottom > h3 {
  font-weight: 700;
  font-size: 19px;
  overflow-wrap: anywhere; /* Full line cover hone ke baad hi word ko break karega */
  word-break: break-word;
}
.right {
  width: 47px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 14%;
  gap: 12px;
  text-align: center;
  padding: 20px;
  /* background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.112)); */
}
.right i {
  font-size: 20px;
}
.right h4 {
  cursor: pointer;
}
.right h6 {
  font-size: 15px;
  font-weight: 500;
}
.right > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50px;
  cursor: pointer;
}
.love {
  color: red;
}
.right > div h4 {
  pointer-events: none;
}
.right > div h6 {
  pointer-events: none;
}
.mute {
  background-color: #333;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.mute i {
  font-size: 20px;
  pointer-events: none;
}
.mute:active {
  scale: 0.95;
}
