.home-btn {
  background-color: white;
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 17px;
  border: 1px solid grey;
  font-weight: 200;
}
.heading-1 h1 {
  margin-top: 40px;
  padding-right: 10px;
  font-size: 43px;
  font-weight: 300;
}
