.about-section {
  margin-top: 50px;
  padding: 2px 24px;
  width: 100%;
}
.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 300px;
}
.top h4 {
  /* width: 700px; */
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
.top button {
  background-color: rgba(230, 223, 223, 0.806);
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  white-space: nowrap;
}
.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 2px 23px;
  margin-top: 60px;
}
.cards-section .card {
  padding: 20px;
  border-radius: 20px;
}
.cards-section img {
  height: 60px;
  width: 50px;
  mix-blend-mode: screen;
  filter: invert(1);
}
.cards-section .card-1 {
  background-color: #022549;
  color: rgba(255, 255, 255, 0.388);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.cards-section span {
  color: white;
}
.cards-section p {
  font-size: 23px;
}
.game-mode {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.game-mode i {
  color: white;
  font-size: 30px;
}
.game-mode p {
  font-size: 18px;
}
.card-2 {
  background-image: url('https://plus.unsplash.com/premium_photo-1663050901483-ee8703cc8372?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-2 button {
  padding: 8px 14px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.148);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.card-2 button:hover {
  scale: 1.2;
}
.card-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(228, 214, 214, 0.103);
}
.card-3 h5 {
  font-size: 40px;
  font-weight: 300;
}
.card-3 h6 {
  font-size: 16px;
}
.card-3 p {
  font-size: 15px;
}
.skill-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  width: 100%;
}
.skill-label {
  flex-shrink: 0; /* Prevents dots from crushing the text */
  width: 90px;
  font-size: 14px;
  font-weight: 500;
  color: black !important;
}
.dots-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 2px;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: #38bdf8; /* Bright sky blue */
  border-radius: 50%;
  display: inline-block;
}
.skill-container {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.skill-value {
  width: 30px;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  color: #1e293b !important;
}
.bottom-final {
  margin-top: 50px;
  padding: 2px 24px;
  width: 100%;
}
.bottom-final h3 {
  text-align: center;
  font-weight: 300;
}
.numbers-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 50px;
}
.bottom-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bottom-card h2 {
  font-weight: 700;
  text-align: center;
}
.bottom-card p {
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: rgba(110, 107, 107, 0.737);
}
